body {
  text-align: center;
}


.actionHistory {
  border: 1px solid black;
  width: 500px;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
}

.selectedSolution {
  margin: 0 1em 0 0;
}

.logout {
    margin-top: 50px;
}

.solutionTable {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: 30px;
}

