<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Личный кабинет</h1>
<div>
    <a th:href="@{/student/person/view/{id}(id=${studentId})}"><button>Мои персональные данные</button></a>
    <a th:href="@{/student/solution/person/{id}(id=${groupId})}"><button>Мои решения</button></a>
    <a th:href="@{/student/task/{id}(id=${groupId})}"><button>Список заданий</button></a>
</div>
<div class="footer">
    <a href="/logout">Выйти</a>
</div>
</body>
</html>
