<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр решения</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${'Решение по заданию №' + record.getTaskNum() + ' ' + record.getTaskTitle()}"></h1>
<div>
    <a th:href="@{'/' + ${role} + '/solution/person/' + ${record.getStudentId}}"
       th:if="${role == 'student'}">
        <button>Вернуться к решениям</button>
    </a>
    <a th:href="@{'/' + ${role} + '/solution/person/all'}"
       th:if="${role == 'teacher' || role == 'admin'}">
        <button>Вернуться к решениям</button>
    </a>
    <a th:href="@{'/' + ${role} + '/solution/upload/' + ${record.getId} + '/' + ${record.getTaskNum}}"
       th:if="${record.getStatus().getMessage == 'TASK_IN_WORK' && role == 'student'}">
        <button>Загрузить решение</button>
    </a>
    <a th:href="@{'/' + ${role} + '/solution/reupload/' + ${record.getId} + '/' + ${record.getTaskNum}}"
       th:if="${record.getStatus().getMessage == 'UPLOADED' && role == 'student'}">
        <button>Изменить решение</button>
    </a>
    <a th:href="@{'/' + ${role} + '/solution/review/' + ${record.getId}}"
       th:if="${record.getStatus().getMessage == 'UPLOADED' && role == 'teacher'}">
        <button>Принять решение на проверку</button>
    </a>
    <a th:href="@{'/' + ${role} + '/solution/verify/' + ${record.getId} + '/' + ${record.getTaskNum}}"
       th:if="${record.getStatus().getMessage == 'IN_REVIEW' && role == 'teacher'}">
        <button>Оценить</button>
    </a>
    <br>
</div>
<div class="solutionView">
    <div th:if="${role == 'teacher' || role == 'admin'}">
        Студент: <span th:text="${record.getStudentName()}"/>
    </div>
    <div>
        Статус: <span th:text="${record.getStatus().getMessage()}"/>
    </div>
    <br>
    <div th:if="${record.getScore().getValue()!= null}">
        Оценка: <span th:text="${record.getScore().getValue()}"/>
    </div>
    <br>
    <div>
        Задание: <span th:text="${record.getTaskText()}"/>
    </div>
    <br>
    <div th:if="${record.getText() != null && !record.getText().isEmpty()}">
        Решение: <span th:text="${record.getText()}"/>
    </div>
    <br>
    <div class="actionHistory" th:if="${record.getActionHistory() != null}">
        <div>История действий по решению задания:</div>
        <div class="history-record" th:each="history: ${record.getActionHistory()}">
            <div class="record-time">
                Время: <span th:text="${#dates.format(history.getTime(), 'dd-MM-yyyy HH:mm:ss')}"/>
            </div>
            <div class="record-type">
                Тип: <span th:text="${history.getStatus().getMessage()}"/>
            </div>
            <div class="record-message" th:if="${history.getComment()!= null && !history.getComment().isEmpty()}">
                Коментарий: <span th:text="${history.getComment()}"/>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="footer">
    <a th:href="@{'/' + ${role} + '/'}">Личный кабинет</a>
    <a href="/logout">Выйти</a>
</div>
</body>
</html>
