<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Невозможно удалить задание</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Невозможно удалить задание - по нему уже есть решения!</h1>
<a th:href="@{'/' + ${role} + '/task/all'}">
    <button>Вернуться к списку заданий</button>
    <br>
</a>
<div th:if="${solutions.size() > 0}">
    <div class="solution" th:each="record : ${solutions}">
        <p th:text="${'Решение от '+ #dates.format(record.getCreationTime(), 'dd-MM-yyyy') + ', автор: ' + record.getStudentName()}"></p>
        <a th:href="@{'/' + ${role} + '/solution/view/' + ${record.getId()}}">Просмотр</a>
    </div>
</div>
<div class="footer">
    <a th:href="@{'/' + ${role} + '/'}">Личный кабинет</a>
    <a href="/logout">Выйти</a>
</div>
</body>
</html>
