<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование задания</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Редактирование задания</h1>
<div>
    <a th:href="@{'/' + ${role} + '/task/all'}">
        <button>Вернуться к списку заданий</button>
    </a>
    <br>
</div>
<form method="post">
    <p th:if="${errorsList!= null}">
        <p class="errorMessage" th:each="error: ${errorsList}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
    </p>

    <p>
        <label>Группа: </label>
        <select name="groupId">
            <option th:each="group : ${groups}"
                    th:value="${group.id}"
                    th:text="${group.id}"
                    th:selected="${group.id} == ${record.getGroupId()}"></option>
        </select>
    </p>
    <p>
        Номер: <input type="number" name="num" th:value="${record.getNum()}">
    </p>
    <p>
        Заголовок: <input type="text" name="title" th:value="${record.getTitle()}">
    </p>
    <p>
        <label>Дата начала</label>
        <br>
        <input name="startDate" type="date" th:value="${#dates.format(record.getStartDate(), 'yyyy-MM-dd')}"/>
    </p>
    <p>
        <label>Дата окончания</label>
        <br>
        <input name="endDate" type="date" th:value="${#dates.format(record.getEndDate(), 'yyyy-MM-dd')}"/>
    </p>
    <p>
        <label>Текст задания</label>
        <br>
        <textarea name="text" th:text="${record.getText()}"></textarea>
    </p>
    <p>
        <button>Обновить задание</button>
    </p>
</form>
<div class="footer">
    <a th:href="@{'/' + ${role} + '/'}">Личный кабинет</a>
    <a href="/logout">Выйти</a>
</div>
<style>
.errorMessage {
    color: red;
}
</style>
</body>
</html>
