<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование задания</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Редактирование задания</h1>
<div>
    <a th:href="@{'/task/' + ${record.getGroupId()}}">
        <button>Вернуться к списку заданий</button>
    </a>
</div>
<form method="post">
    <p th:if="${errorsList!= null}">
        <p class="errorMessage" th:each="error: ${errorsList}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
    </p>
    <p>
        Номер: <input type="number" name="num" th:value="${record.getNum()}">
    </p>
    <p>
        Заголовок: <input type="text" name="title" th:value="${record.getTitle()}">
    </p>
    <p>
        <label>Дата начала</label>
        <br>
        <input name="startDate" type="date" th:value="${#dates.format(record.getStartDate(), 'yyyy-MM-dd')}"/>
    </p>
    <p>
        <label>Дата окончания</label>
        <br>
        <input name="endDate" type="date" th:value="${#dates.format(record.getEndDate(), 'yyyy-MM-dd')}"/>
    </p>
    <p>
        <label>Текст задания</label>
        <br>
        <textarea name="text" th:text="${record.getText()}"></textarea>
    </p>
    <p>
        <input name="groupId" type="hidden" th:value="${record.getGroupId()}"/>
    </p>
    <p>
        <button>Обновить задание</button>
    </p>
</form>

<style>
.errorMessage {
    color: red;
}
</style>
</body>
</html>
