<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список заданий</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Список заданий</h1>
<div>
    <a th:href="@{/task/create/{groupId}(groupId=${groupId})}">
        <button>Добавить задание</button>
    </a>
</div>
<div th:if="${tasks.size() > 0}">
    <div class="task" th:each="record : ${tasks}">
        <h2 th:text="${'Задание №'+record.getNum() + ' : ' + record.getTitle()}"></h2>
        <div>
            Дата начала: <span th:text="${#dates.format(record.getStartDate(), 'dd-MM-yyyy')}"/>
            <br>
            Дата окончания: <span th:text="${#dates.format(record.getEndDate(), 'dd-MM-yyyy')}"/>
        </div>
        <br>
        <a th:href="@{/task/view/{id}(id=${record.getId()})}">
            <button>Просмотр</button>
        </a>
        <a th:href="@{'/task/delete/' + ${record.getId} + '/' + ${record.getGroupId}}">
            <button>Удаление</button>
        </a>
    </div>
</div>
<div th:unless="${tasks.size() > 0}">
    Нет загруженных заданий!
</div>
</body>
</html>
