<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр задания</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${'Задание №' + record.getNum() + ' ' + record.getTitle()}"></h1>
<div>
    <a th:href="@{'/' + ${role} + '/task/all'}"
       th:if="${role == 'teacher' || role == 'admin'}">
        <button>Вернуться к списку заданий</button>
    </a>
    <a th:href="@{'/' + ${role} + '/task/' + ${record.getGroupId()}}"
       th:if="${role == 'student'}">
        <button>Вернуться к списку заданий</button>
    </a>
    <br>
</div>
<br>
<div class="taskView">
    <div>
        Группа: <span th:text="${record.getGroupId()}"/>
    </div>
    <br>
    <div>
        Текст: <span th:text="${record.getText()}"/>
    </div>
    <br>
    <div>
        Дата начала: <span th:text="${#dates.format(record.getStartDate(), 'dd-MM-yyyy')}"/>
    </div>
    <br>
    <div>
        Дата окончания: <span th:text="${#dates.format(record.getEndDate(), 'dd-MM-yyyy')}"/>
    </div>
    <br>
    <div th:if="${role == 'teacher'}">
        <a th:href="@{'/' + ${role} + '/task/edit/' + ${record.getId}}">
            <button>Редактировать</button>
        </a>
        <a th:href="@{'/' + ${role} + '/task/delete/' + ${record.getId}}">
            <button>Удалить</button>
        </a>
    </div>
</div>
<div class="footer">
    <a th:href="@{'/' + ${role} + '/'}">Личный кабинет</a>
    <a href="/logout">Выйти</a>
</div>
</body>
</html>
